/* Styles specific to the Add Credential page */
.container {
    flex: 1; /* Ensure the container takes up remaining space */
    padding: 10px; /* Add padding for some space around the content */
    display: flex;
    flex-direction: column; /* Ensure a column layout */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center items vertically */
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
}

label {
    width: 100%;
    text-align: center; /* Center align text */
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

input[type="text"], input[type="password"], textarea {
    font-size: 16px;
}

button[type="submit"] {
    width: 95%; /* Make the width consistent with the back button */
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#backButton {
    width: 95%; /* Slightly reduced width for better spacing */
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    color: #007bff;
    border: solid;
    border-color: #007bff;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#backButton:hover {
    background-color: #f2f2f2;
}
